.form-container {
  border: 1px solid $color-2;
  margin: 50px auto 60px auto;
  max-width: 80%;
	background-color: $color-1; 
	border-radius: 15px;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);

  form {
    display: flex;
    flex-direction: column;
    padding: 25px;

    textarea {
      border: 1px solid $color-4;
			border-radius: 10px;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 5px 10px;
      resize: none;
			margin-bottom: 6px;
    }
  }
}
