.user-container {
  margin-left: 55%;
  position: relative;
	
  .user {
		color: white;
		line-height: 0;
		border-radius: 10px;
    text-align: center;
    width: 190px;
    padding: 4px 4px 1px 4px;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    border-radius: 150px;
    height: 60px;
    object-fit: cover;
    margin: 10px 0 8px;
  }

  p {
    font-size: 1.3rem;
  }
}
