@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

$color-1: rgba(255, 255, 255, 0.65);
$color-2: #292929;
$color-3: #1a8917;
$color-4: rgb(168, 168, 168);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $color-2;
  margin: 0 auto;
  font-family: "Amiri", serif;
	min-height: 100vh;
	background: rgb(141, 139, 139);
}
.myBody {
	max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.navbar {
	max-height: 140px;
	// box-shadow: 0 4px 40px rgba(255, 255, 255, 0.35);
	border-bottom: solid rgba(43, 42, 42, 0.534) 8px;
	border-radius: 0 0 15px 15px;
}

h1,
h2 {
  font-size: 2rem;
}

h1 {
	color: $color-1;
  margin-top: 20px;
}
input[type="submit"] {
	border-radius: 5px;
	margin-top: 4px;
  background: $color-3;
  width: 100px;
  color: $color-1;
  margin-left: auto;
  letter-spacing: 1px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 200px;
}
p {
	font-size: 1.4rem;
	line-height: 1;
}